* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  li {
    list-style: none;
  }
  
  td div {
    height: 3rem;
    border-radius: 0.5rem;
  }
  
  table, td, th {
    border: 1px solid black;
  }
  
  td, th {
    padding: 0.5rem;
  }
  
  tr th:last-child, tr td:last-child {
    width: 40rem;
  }