* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  table, td, th {
    border: 1px solid black;
    margin: 1rem 0;
  }
  
  td, th {
    padding: 0.5rem;
  }