* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  
  input {
    padding:5px;
  }
  
  .text {
    font-size: 10px;
  }